h1{
	text-align: center;
	text-decoration: underline;
}
h2{
	color: saddlebrown;
	text-align: center;
}
h3{
	color: saddlebrown;
	text-align: center;
}
.main{
	color: chocolate;
	background: lemonchiffon;
	font-size: 20px;
	width: 1200px;
	margin: 0 auto;
	font-family: Georgia;
	padding: 20px 30px;
	border: 10px solid goldenrod;		
}
.list{
	background: lemonchiffon;
	width: 1200px;
	height: 300px;
	overflow-x: auto;
	margin: 0 auto;
	padding-right: 10px;
	box-sizing: border-box;
}
.theatres{
	text-align: justify;
}